/* 
.features-box {
    display: flex;
    flex-direction: column;
    margin: 100px 130px;
    
    
}

.features-box p{
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 30px;

}




.bottom-side{
    display: flex;
    align-items:center;
    margin-top: 100px;
    
}

.bottom-side div {
    display:flex;
    flex-direction: column;
    align-items:center;
    cursor: pointer;
}

.bottom-side p {
    display: flex;
    text-align: center;
}

@media (max-width:768px) {
    .top-side , .bottom-side{
        display: flex !important;
        flex-direction: column !important;

    }

    .features-box div {
        margin-top:20px
    }
} */

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.titles h1 {
        
        font-size: 42px;
        font-weight: 400;
        letter-spacing: 1.5px;
}

.titles p {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 25px;
}

.top-side{
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.top-side div{
    display:flex;
    flex-direction: column;
    align-items:center;
    cursor: pointer;
}
.top-side p {
    display: flex;
    text-align: center;
    
    
}
.top-side img{
    margin: 20px 0;
}