/* Introduction */
.left-side h1 {
    font-size: 63px;
    font-weight: 400;

}

.left-side p{
   
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 32px;
    padding-bottom: 43px;
}



.left-bottom a{
    border-radius: 14px;
    padding: 15px 30px 20px 30px;
    margin-right: 45px;
    background: #3F53D8;
    color: #fff;
    border-color: #3F53D8;
    cursor: pointer;
    text-decoration: none;
  
}

